.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(33, 147, 176);
}

.header {
  margin-bottom: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.email-input {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.password-input {
  width: 300px;
  /* margin-bottom: 30px; */
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.login-button {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 0;
  background-color: orange;
  font-size: 15px;
  font-weight: 800;
  margin-top: 30px;
}
